<section class="content-header" style="width: 75%; float:left;">
  <h1>
    Dashboard
    <small>Control panel</small>        
  </h1>

  <ol class="breadcrumb">
     <li>
        
     </li>
  </ol>
</section>
