<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>        
  </h1>

  <ol class="breadcrumb">
    <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
     <ul>
        <% @menu.each do |item| %>
           <li><a href="<%= item[:url] %>"><%= item[:text] %></a></li>
        <% end %>
     </ul>
     
     
     <%= load_menu_helper([{url: "/admin/items", text: "Items 1"}, {url: "/admin/box", text: "Box 1"}, {url: "/admin/box", text: "Kaka"}]) %>
  </div>
</section>