<div class="wrapper-header" style="width: 80%; margin-left:20%;float:left;">
  <span style="float:left;">Add New A <%= @model_string.capitalize%></span><a href="/admin/<%=@model_string%>/new" style="height: 32px; width:32px; float:left; background-image: Url('/assets/plus_icon.png'); background-repeat: no-repeat; margin-left: 10px; margin-top: -6px;"></a>
  
</div>